<% layout("/layouts/boilerplate") %>
    <!-- <%= success %>  -->
    <!-- <h2>ALL Listings</h2> -->
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <style>
      #filters{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
      }
      .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
      }
      .filter:hover{
        opacity: 1;
        cursor: pointer;
      }
      .filter p{
        font-size: 0.8rem;
      }
      .switch{
        border: 1px solid gray;
        border-radius: 1rem;
        padding: 1rem;
        height:2.5rem;
        display: flex;
        align-items: center;
        margin-left: 5rem;
        background-color: rgb(199, 198, 198);
      }
    </style>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 mt-3">
        
        <% for(let listitem of Listingdata) { %>
            <a href="/listings/<%= listitem._id%>" class="listing-link">
            <div class="card customcard">
                <img src="<%= listitem.image.url %>" class="card-img-top" alt="listitem image">
                <div class="card-img-overlay"><%= listitem.title %></div>
                <div class="card-body">
                  <p class="card-text">
                     <b><%= listitem.title %></b><br/>
                     <b class="showprice"> &#8377; <%= listitem.price.toLocaleString("en-IN")%> </b>   
                  </p>
                </div>
              </div>     
            </a>
        <% } %>
    </div>

<script>
     let togglebtn = document.getElementById("flexSwitchCheckDefault");
     togglebtn.addEventListener("click",()=>{
       let price = document.getElementsByClassName("showprice");
       for(itemprice of price){
           if(itemprice.style.display != "inline"){
              itemprice.style.display = "inline";
           }else{
              itemprice.style.display = "none";
           }
       }
     })

</script>

